@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ojuju:wght@200..800&display=swap');
/*font-family: "Caveat", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap')
/*font-family: "Caveat Brush", cursive;*/
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*NAVEGADOR*/
.navbar {
    background-color: #087a2e;
}
.navbar-brand   {
    font-size: 40px;
    color: #087a2e !important;
    text-shadow: 0px 0px 5px #ffffff; 
    font-family: "Caveat", cursive;
    font-weight: bold;
}
span    {
    font-size: 20px;
}  
.nav-link{  
    color: #ffffff !important;
    text-shadow: 0px 0px 5px #000000ff;
    font-weight: bold;
    font-family: "Caveat", cursive;
    font-size: 20px;
}
.nav-link:hover   {
    color: #ff0000 !important;
}
.navbar-toggler {
    border: none;
}
/*FIN NAVEGADOR*/
main    {
    background-color: #087a2e;
}
/*HOME*/
.jumbotron   {
    background-image: url(../img/Reciclaje.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    text-shadow: 0px 0px 10px #000000; 
    text-align: center;
    font-family: "Caveat", cursive;
}
h1  {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000ff;
    text-align: center;
}
h2  {
    padding: 10px;
    font-size: x-large;
    font-family: "Caveat Brush", cursive;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000ff;
    text-align: center;
}
.contenedor-rojo    {
    background-color: #ff0000;
    text-align: center;
    font-size: x-large;
    text-shadow: 0px 0px 3px #000000ff;
    font-family: "Caveat Brush", cursive;
    padding: 30px;
}
/*Servicios*/
.servicios    {
    padding: 10px;
    margin-top: 100px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    font-family: "Caveat Brush", cursive;
}
.fa-solid   {
    font-size: xx-large;
} 
.conciencia-ambiental, .huerta, .compost    {
    padding-bottom: 30px;
}
/*FOOTER*/
footer  {
    background-color: #087a2e;
    font-family:"Caveat", cursive;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
h5  {
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000ff;
    font-size: medium;
}
.redes a {
    color:#ff0000;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 10px;
}
.redes a:hover  {
    color:#ffffff;
}
/*PRODUCTOS*/
.nombre-producto  {
    text-align: right;
    padding-right: 10px;
    font-family: "Caveat", cursive;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 0px 5px #ffffff;
}
.galeria    {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    background-color: #087a2e;
    padding: 50px;
    grid-gap: 15px;
}
.imagen{    
    border: 3px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all 0.9s;
}
.imagen:hover {
    cursor: pointer;
    filter:sepia(100%);
    transform: scale(1.1);
}
.imagen1    {
    background-image: url(../img/Maceta.jpg);
}
.imagen2 {
    background-image: url(../img/Compostera.jpg);
}
.imagen3        {
    background-image: url(../img/Huerta.jpg);
}
.imagen4    {
    background-image: url(../img/HuertaVertical.jpg);
}
.consulta-productos{
    margin-bottom: 0px;
}
/*CONTACTO*/
.contacto   {
    padding: 50px;
    margin-top: 20px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    font-family: "Caveat Brush", cursive;
}
.informacion-contacto   {
    padding-top: 10px;
    padding-bottom:10px;
    font-weight: bold;
}
.seccion-contacto   {
    padding-bottom: 50px;
}
/*GREEN POINTS*/
.media-green-points {
    padding-bottom: 50px;
}
/*REGISTRARME*/
.formulario-registro    {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-family: "Caveat Brush", cursive;
    display: flex;
    justify-content: center;
}
.ingreso    {
    text-align: center;
}
.inicia-sesion  {
    color: #ff0000;
    font-weight: bold;
    font-family: "Caveat", cursive;
    font-size: x-large;
}
.inicia-sesion:hover    {
    color:#ffffff;
}
/*inicio media queries*/
@media only screen and (min-width: 576px)  {
    .jumbotron  {
        height: 600px;
    }
    h1  {
        font-size: 40px;
    }           
    .galeria    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
    }
}
@media only screen and (min-width: 1024px) {
    .jumbotron  {
        height: 800px;
    }
    h1  {
        font-size: 50px;
    }
    .galeria    {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
    }
    .imagen1    {
        grid-column: 1/2;
        grid-row: 1/4;
}
    .imagen2    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .imagen3 {  
        grid-column: 3/4;
        grid-row: 1/4;
    }
    .imagen4{   
        grid-column: 2/3;
        grid-row: 2/4;
    }
}