@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ojuju:wght@200..800&display=swap');
/*font-family: "Caveat", cursive; */

/*NAVEGADOR*/
.navbar {
    background-color: #009e0f;
}
.navbar-brand   {
    font-size: 40px;
    color: #087a2e !important;
    text-shadow: 0px 0px 5px #ffffff; 
    font-family: "Caveat", cursive;
    font-weight: bold;
}
span    {
    font-size: 20px;
}  
.nav-link{  
    color: #ffffff !important;
    font-weight: bold;
    font-family: "Caveat", cursive;
    font-size: 20px;
}
.nav-link:hover   {
    color: #087a2e !important;
}
.navbar-toggler {
    border: none;
}
/*FIN NAVEGADOR*/
main    {
    background-color: #087a2e;
}
/*HOME*/
.jumbotron   {
    background-image: url(../img/Reciclaje.jpg);
    background-size:cover;
    background-position: center;
    height: 500px;
    text-shadow: 0px 0px 10px #000000; 
    text-align: center;
}
h1, h2 {
    color: #ffffff;
    text-align: center;
}
h1  {
    font-family: "Caveat", cursive;
}